<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544322359237-gilq8lo76p21rtoq5fhh3o9olgvlpv5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544322359237-gilq8lo76p21rtoq5fhh3o9olgvlpv5s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>544322359237-v3r8j10vlpt4cgi39jien6vohv2gb4jk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDezLDQ6iw4jvIw2LrwXOAIizeF9-UwK-E</string>
	<key>GCM_SENDER_ID</key>
	<string>544322359237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.huk-customer</string>
	<key>PROJECT_ID</key>
	<string>huknbukuser</string>
	<key>STORAGE_BUCKET</key>
	<string>huknbukuser.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544322359237:ios:8c1fefa51edc792b8685ac</string>
</dict>
</plist>